.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 95%;
  height: calc(100vh - 70px);
}

.people__using__kanbanboards {
  border-right: 2px solid $grey-300;
  padding-right: 86px;
}

.form__container {
  width: 400px;
  max-width: 400px;
  margin-left: 86px;
}

@media screen and (max-width: $md) {
  .container {
    width: 85%;
  }
  .form__container {
    margin-left: 0;
  }
  .people__using__kanbanboards {
    display: none;
  }
}
