.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.primary {
  background-color: $primary-300;
}
.secondary {
  background-color: $primary-400;
  color: black;
}
.success {
  background-color: $success-300;
}
.danger {
  background-color: $error-300;
}
