// Primary
$primary-50: #ecf1ff;
$primary-75: #b1c6fd;
$primary-100: #91aefc;
$primary-200: #618cfb;
$primary-300: #4174fa;
$primary-400: #2e51af;
$primary-500: #284799;

// Success
$success-50: #ecfff0;
$success-75: #b1fdc2;
$success-100: #90fca9;
$success-200: #60fb83;
$success-300: #40fa6a;
$success-400: #2daf4a;
$success-500: #279941;

// Warning
$warning-50: #fff7ec;
$warning-75: #fddfb1;
$warning-100: #fcd191;
$warning-200: #fbbd61;
$warning-300: #fab041;
$warning-400: #af7b2e;
$warning-500: #996b28;

// Error
$error-50: #ffecec;
$error-75: #fdb1b1;
$error-100: #fd9191;
$error-200: #fc6161;
$error-300: #fb4141;
$error-400: #b02e2e;
$error-500: #992828;

// Grey
$grey-50: #fdfdfd;
$grey-75: #f8f8f8;
$grey-100: #f6f6f6;
$grey-200: #f2f2f2;
$grey-300: #efefef;
$grey-400: #a7a7a7;
$grey-500: #929292;

// Text
$text-50: #eceef1;
$text-75: #b2b8c4;
$text-100: #919aab;
$text-200: #626f87;
$text-300: #42516e;
$text-400: #2e394d;
$text-500: #283143;
