.textfield {
  width: 100%;
  height: 50px;
  padding: 16px;
  border-radius: 3px;
  border: 2px solid $text-300;
  color: $text-400;
}

.textfield::placeholder {
  color: $grey-400;
}

.textfield:focus {
  border-color: $primary-300;
}

.error {
  border-color: $error-300;
}

.error:focus {
  border-color: $error-300 !important;
}
