* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-300;
  width: 8px;
}

input:focus {
  outline: none;
}
