* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-300;
  width: 8px;
}

a:focus,
button:focus {
  outline: 3px solid black;
}
